<!-- nyx_app/templates/home.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center mb-5">
          <h2 class="mb-4">MBTI Personality Prediction</h2>
          
          <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Predict</button>
          </form>
        </div>

        {% if predicted_mbti %}
          <div class="mb-3">
            <h3>Predicted MBTI Type:</h3>
            <p>{{ predicted_mbti }}</p>
          </div>
          <div class="mb-3">
            <h3>Personality Profile:</h3>
            <p>{{ personality_description }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}